<!DOCTYPE html>
<html>
  <head>
    <title>CozyBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/1cad67679b.js" crossorigin="anonymous"></script>
    <script type="text/javascript">window.bg = "<%= image_url('splash-background.jpg') %>"</script>
    <script type="text/javascript">dallas = "<%= image_url('dallas.jpg') %>"</script>
    <script type="text/javascript">houston = "<%= image_url('houston.jpg') %>"</script>
    <script type="text/javascript">nj = "<%= image_url('nj.jpg') %>"</script>
    <script type="text/javascript">nyc = "<%= image_url('nyc.jpg') %>"</script>
    <script type="text/javascript">sanfran = "<%= image_url('sanfran.jpg') %>"</script>
    <script type="text/javascript">toronto = "<%= image_url('toronto.jpg') %>"</script>
    <script type="text/javascript">vancouver = "<%= image_url('vancouver.jpg') %>"</script>
    <script type="text/javascript">chicago = "<%= image_url('chicago.jpg') %>"</script>
    <script type="text/javascript">try_hosting = "<%= image_url('try_hosting.jpg') %>"</script>
  </head>
<% if current_user %>
      <script>
        window.currentUser = <%= render(
          '/api/users/user.json.jbuilder',
          user: current_user
        ).html_safe %>
      </script>
    <% end %>

<main id="root"></main>
  <body>
    <%= yield %>
  </body>
</html>
