<!DOCTYPE html>
<html>
  <head>
    <title>CozyBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/1cad67679b.js" crossorigin="anonymous"></script>
    <script type="text/javascript">window.bg = "<%= image_url('splash-background.jpg') %>"</script>
   
  </head>
<% if current_user %>
      <script>
        window.currentUser = <%= render(
          '/api/users/user.json.jbuilder',
          user: current_user
        ).html_safe %>
      </script>
    <% end %>

<main id="root"></main>
  <body>
    <%= yield %>
  </body>
</html>
